/* *
 * Dioxus Components CSS
 * Version: 0.1.1
 * 
 * This file imports all component-specific CSS files.
 * You MUST configure Tailwind to scan the library for utility classes.
 * 
 * COMPLETE SETUP:
 * Full guide: https://github.com/LeTri234/dioxus_component/blob/main/CSS_SETUP.md 
 **/

/* Import component-specific styles */
@import "./accordion/accordion.css";
@import "./avatar/avatar.css";
@import "./badge/badge.css";
@import "./button/button.css";
@import "./card/card.css";
@import "./checkbox/checkbox.css";
@import "./dialog/dialog.css";
@import "./empty/empty.css";
@import "./portal/portal.css";
@import "./spinner/spinner.css";
@import "./tooltip/tooltip.css";
